@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Handjet:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Bitter", sans-serif;
  font-weight: 400;
  color: #fff;
  background: none;
}

body {
  background-color: #585858;
}

.button{
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 25px;
}

.title {
  font-family: "Handjet" serif;
  font-weight: 700;
}

.title--section {
  text-align: center;
}

.page {
  padding: 15px 20px;
}

.smile {
  color: #ffff00;
}

.page__block {
  background-color: #686868;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.row {
  display: flex;
}

.page__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page__joininfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.page__jointext {
  font-size: 24px;
}

.page__jointext .spanname {
  font-weight: 500;
  background: #91663f;
}

.page__p {
  font-size: 24px;
  line-height: 30px;
}

.page__p span {
  font-weight: 500;
  background: #91663f;
}

.page__discord {
  padding: 0;
}

.fa-discord {
  font-size: 48px;
  margin-bottom: 15px;
}

.page__invite {
  background-color: #91663f;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 25px;
}

.page__partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page__partner {
  list-style-type: none;
  text-align: center;
}

.page__partners .title--section {
  margin-bottom: 20px;
}

.page__partnername {
  text-decoration: underline;
  font-weight: bold;
  display: grid;
  gap: 10px;
}

.page__footer {
  padding: 60px 25px;
  text-align: center;
  font-size: 24px;
}

.page__copy{
  margin-left: 10px;
}